.App {
    font-family: sans-serif;
    display: flex;
    font-size: 1.3rem;
    flex-wrap: wrap;
    padding: 6px;
  }
.Journal-title {
  text-decoration: none;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  color: black;
  margin: 0;
}


form {
  max-width: 500px;
  width: 100%;
}

label,
input {
  display: block;
  width: 80%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #03DAC5;
}

input.error {
  border-color: red;
}

.button {
  padding: 5px 10px;
  background-color: #6200EE;
  color: white;
  border: 1px solid #6200EE;
  background-color: 250ms;
  border-radius: 5px;
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #6200EE;
}
