.Home {
    font-family: sans-serif;
    display: flex;
    justify-content: center;

}
  
button {
    padding: 10px 15px;
    background-color:  #6200EE;
    color: white;
    border: 1px solid #3700B3;
    background-color: 250ms;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #3700B3;
}
  